/* 登录区域 */
.register {
    height: 35px;
    line-height: 35px;
    background-color: #f5f5f5;
    border-top: 1px solid #dcdcdc;
}

.register-left {
    float: left;
    position: relative;
}

.register-location {
    position: absolute;
    width: 93px;
    padding-left: 6px;
}

.register-location.active {
    border: 1px solid #d8d8d8;
    border-top: none;
    border-bottom: none;
    background-color: #f5f5f5;
    z-index: 99;
}

.register-location>i {
    display: inline-block;
    width: 13px;
    height: 16px;
    background: url(../images/sprite_1.png) -192px -180px;
    vertical-align: middle;
}

.register-location>a {
    color: #0cb46a;
}

.register-location>a>span {
    color: #333333;
}

.register-area {
    position: absolute;
    top: 33px;
    width: 406px;
    border: 1px solid #dcdcdc;
    background-color: #fff;
    display: none;
    z-index: 99;
}

.register-area>h3 {
    padding-left: 26px;
    height: 38px;
    line-height: 38px;
    background-color: #f5f5f5;
    font-size: 14px;
    font-weight: normal;
    color: #00af63;
    border-bottom: 1px solid #d8d8d8;
}

.register-area>h3::after {
    content: '';
    position: absolute;
    left: 22px;
    top: 36px;
    width: 62px;
    height: 2px;
    background-color: #00af63;
}

.register-area>ul {
    padding-top: 18px;
    padding-left: 36px;
    padding-bottom: 18px;
    font-size: 14px;
}

.register-area>ul>li {
    height: 28px;
}

.register-area>ul>li>a {
    display: inline-block;
    color: #666;
    margin-right: 30px;
}

.register-area>ul>li>a:last-child {
    margin-right: 0;
}

.register-area>ul>a {
    color: #999999;
}

.register-area>ul a:hover {
    color: #00af63;
}

.register-right {
    float: right;
}

.register-right>a,
.register-right>div {
    float: left;
    font-size: 12px;
}

.register-right>a {
    display: block;
    padding: 0 14px;
    color: #999;
}

.register-right>div {
    position: relative;
    padding: 0 14px;
    height: 35px;
    color: #999;
    z-index: 100;
}

.register-right>div::before {
    content: '';
    position: absolute;
    top: 11px;
    left: -1px;
    width: 1px;
    height: 14px;
    background-color: #dcdcdc;
    z-index: 33;
}

.register-right>div i {
    margin-left: 5px;
    display: inline-block;
    width: 10px;
    height: 7px;
    background: url(../images/sprite_1.png) -189px -232px;
}

.register-right>div:nth-last-child(2)>a {
    color: #999;
}

.register-right>div:last-child span>i:first-child {
    vertical-align: top;
    margin-top: 12px;
    margin-right: 5px;
    width: 13px;
    height: 13px;
    background: url(../images/sprite_1.png) -189px -246px;
}

.register-right>div:last-child {
    color: #ff5a00;
}

.register-right>div:last-child span>span {
    text-decoration: underline;
}

.register-one>ul,
.register-two>ul,
.register-three>ul {
    position: absolute;
    left: 0px;
    width: 104px;
    font-size: 12px;
    border: 1px solid #eeeeee;
    background-color: #fff;
    border-top: none;
    display: none;
}

.register-one>ul a,
.register-two>ul a,
.register-three>ul a {
    display: block;
    height: 32px;
    text-align: center;
    color: #999999;
}

.register-one>ul a:hover,
.register-two>ul a:hover,
.register-three>ul a:hover {
    color: #ff5a00;
}

.register-two>ul,
.register-three>ul {
    width: 92px;
}

.register-item.active {
    border-left: 1px solid #eeeeee;
    background-color: #fff;
    z-index: 99;
}

.register-four-hide {
    position: absolute;
    left: -100px;
    top: 33px;
    width: 280px;
    background-color: #fff;
    color: #555555;
    box-shadow: 1px 6px 10px -4px #99abbb;
    display: none;
}

.register-four-hide h2 {
    margin: 30px auto 0;
    height: 40px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.register-four-hide input {
    margin: 0 auto;
    display: block;
    width: 230px;
    height: 38px;
    line-height: 38px;
    text-align: center;
}

.register-four-hide input:first-child {
    margin-bottom: 18px;
    font-size: 14px;
    color: #757575;
    border: 1px solid #dddddd;
}

.register-four-hide input:last-child {
    font-size: 12px;
    color: #fff;
    background-color: #05b56a;
    border: none;
    border-radius: 5px;
}

.register-four-hide p {
    margin: 24px;
    font-size: 12px;
    line-height: 20px;
    color: #666666;
}

.register-four:hover i:last-child {
    transition: all 0.2s;
    transform: rotateZ(-180deg);
}

/* 搜索区域 */
.search {
    position: relative;
    height: 70px;
    /* background-color: blue; */
}

.search-left {
    float: left;
    margin-top: 16px;
}

.search-left a {
    float: left;
}

.search-left a:first-child {
    width: 132px;
    height: 47px;
    background: url(../images/sprite_1.png) 0 -208px;
}

.search-left a:last-child>img {
    width: 145px;
    height: 51px;
    margin-left: 12px;
}

.search-center {
    float: left;
    margin-left: 84px;
}

.search-dh>li {
    float: left;
    margin-right: 29px;
    padding: 22px 15px 0 16px;
}

.search-dh>li:first-child {
    margin-right: 10px;
}

.search-dh>li:last-child {
    margin-right: 0;
}

.search-dh>li>a {
    position: relative;
    display: block;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    color: #333;
}

.search-item>a>i {
    position: absolute;
    top: 16px;
    right: -15px;
    width: 8px;
    height: 5px;
    background: url(../images/sprite_1.png) -152px -180px;
}

.search-item:last-child>a>i {
    top: 10px;
    left: 76px;
    width: 11px;
    height: 16px;
    background: url(../images/sprite_1.png) -176px -180px;
}

.search-dh>li>a.active {
    color: #0cb46a;
    border-bottom: 2px solid #0cb46a;
}

.search-dh>li>a.active>i {
    display: none;
}

.search-cont {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 66;
    display: none;
}

.search-cont>ul {
    width: 100%;
    margin-top: 10px;
    padding: 34px 360px;
    border-top: 1px solid #e3e3e3;
}

.search-cont-one>li,
.search-cont-two>li,
.search-cont-three>li {
    float: left;
    width: 283px;
    padding: 0 20px;
    font-size: 14px;
    border-right: 1px dashed #d8d8d8;
}

.search-cont-one>li>a,
.search-cont-two>li>a,
.search-cont-three>li>a {
    position: relative;
    color: #333333;
}

.search-cont-one>li>a>i,
.search-cont-two>li>a>i,
.search-cont-three>li>a>i {
    position: absolute;
    top: 2px;
    right: -16px;
    width: 8px;
    height: 13px;
    background: url(../images/sprite_1.png) -193px -200px;
}

.search-cont-xia {
    margin-top: 20px;
}

.search-cont-xia>a {
    display: inline-block;
    line-height: 28px;
    color: #666;
    margin-right: 15px;
}

.search-cont-one>li:last-child>div {
    float: left;
    width: 60px;
    text-align: center;
}

.search-cont-one>li:last-child>div i {
    display: block;
    margin-left: 8px;
    width: 32px;
    height: 32px;
    background: url(../images/sprite_1.png) -79px -35px;
}

.search-cont-one>li:last-child>div:nth-child(2) i {
    width: 37px;
    height: 31px;
    background: url(../images/sprite_1.png) -112px -144px;
}

.search-cont-one>li:last-child>div:last-child i {
    margin-left: 14px;
    width: 28px;
    height: 33px;
    background: url(../images/sprite_1.png) -48px 0;
}

.search-cont-one>li:last-child>div span {
    display: block;
    color: #333333;
    margin-top: 20px;
}

.search-cont-three>li:last-child>div {
    float: left;
    width: 80px;
    text-align: center;
}

.search-cont-three>li:last-child>div i {
    display: block;
    margin-left: 22px;
    width: 29px;
    height: 32px;
    background: url(../images/sprite_1.png) -196px -108px;
}

.search-cont-three>li:last-child>div:nth-child(2) i {
    width: 31px;
    height: 32px;
    background: url(../images/sprite_1.png) -116px 0;
}

.search-cont-three>li:last-child>div:last-child i {
    margin-left: 26px;
    width: 32px;
    height: 30px;
    background: url(../images/sprite_1.png) -36px -144px;
}

.search-cont-three>li:last-child>div span {
    display: block;
    color: #333333;
    margin-top: 20px;
}

.search-cont-four div {
    float: left;
    margin: 0 10px;
}

.search-cont-four>li>div {
    float: left;
    width: 80px;
    text-align: center;
}

.search-cont-four>li>div i {
    display: block;
    margin-left: 22px;
    width: 33px;
    height: 30px;
    background: url(../images/sprite_1.png) -177px -324px;
}

.search-cont-four>li>div:nth-child(2) i {
    width: 28px;
    height: 31px;
    background: url(../images/sprite_1.png) -40px -108px;
}

.search-cont-four>li>div:nth-child(3) i {
    width: 30px;
    height: 31px;
    background: url(../images/sprite_1.png) -152px 0;
}

.search-cont-four>li>div:nth-child(4) i {
    width: 31px;
    height: 32px;
    background: url(../images/sprite_1.png) -72px -108px;
}

.search-cont-four>li>div:nth-child(5) i {
    width: 40px;
    height: 33px;
    background: url(../images/sprite_1.png) -148px -70px;
}

.search-cont-four>li>div:nth-child(6) i {
    width: 34px;
    height: 35px;
    background: url(../images/sprite_1.png) -148px -220px;
}

.search-cont-four>li>div:nth-child(7) i {
    width: 34px;
    height: 32px;
    background: url(../images/sprite_1.png) -108px -108px;
}

.search-cont-four>li>div:nth-child(8) i {
    width: 37px;
    height: 31px;
    background: url(../images/sprite_2.png) -112px -46px;
}

.search-cont-four>li>div:last-child i {
    margin-left: 26px;
    width: 32px;
    height: 31px;
    background: url(../images/sprite_1.png) -188px -144px;
}

.search-cont-four>li>div span {
    display: block;
    color: #333333;
    margin-top: 20px;
}

.search-cont-ewm>img {
    float: right;
    margin-right: 558px;
}

.search-item>a>.search-item-xz.sjz {
    transition: all 0.2s;
    transform: rotateZ(-180deg);
}

.search-right {
    float: right;
}

/* 轮播图 */
.slider {
    width: 100%;
    height: 460px;
    position: relative;
}

.slider li {
    position: absolute;
    display: none;
}

.slider li img {
    width: 100%;
    height: 460px;
}

.slider li:first-child {
    display: block;
}

.arrow {
    display: none;
}

.slider:hover .arrow {
    display: block;
}

.arrow-left,
.arrow-right {
    font-family: "SimSun", "宋体";
    width: 40px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    margin-top: -40px;
    cursor: pointer;
    text-align: center;
    line-height: 80px;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
}

.arrow-left:hover,
.arrow-right:hover {
    background-color: rgba(0, 0, 0, .5);
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}

.control {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -200px;
}

.control a {
    float: left;
    width: 32px;
    height: 2px;
    background-color: #67cdb9;
    box-shadow: 1px 1px 5px #666;
}

.control a+a {
    margin-left: 15px;
}

.control a.active {
    background-color: #fff;
}

/* 业务 */
.business {
    padding: 20px 0;
    height: 180px;
    background-color: #f5f5f5;
}

.business li {
    float: left;
    margin-right: 15px;
}

.business li a {
    display: block;
}

.business ul>li:last-child {
    margin-right: 0;
}

.business ul>li img {
    width: 276px;
    height: 140px;
}

.business li:hover {
    transition: all 0.5s;
    margin-top: -2px;
    box-shadow: 4px 8px 8px #cccccc;
}

/* 装修公司 */
.finish {
    height: 1010px;
}

.finish-tab-control {
    width: 200px;
    height: 35px;
    font-size: 14px;
    margin: 28px auto 70px;
    border: 1px solid #e8e8e8;
}

.finish-tab-control li {
    float: left;
    width: 50%;
    line-height: 35px;
    text-align: center;
}

.finish-tab-control li:first-child {
    border-right: 1px solid #e8e8e8;
}

.finish-tab-content-item>ul>li {
    float: left;
    margin-right: 20px;
}

.finish-tab-content-item>ul>li:hover {
    transition: all 0.5s;
    box-shadow: 0 15px 30px rgba(105, 100, 109, .3);
    transform: translate3d(0, -4px, 0);
}

.finish-tab-content-item>ul>li:hover img {
    transition: all 0.5s;
    transform: translate3d(0, -4px, 0);
}

.finish-tab-content-item>ul>li:nth-child(4),
.finish-tab-content-item>ul>li:nth-child(8) {
    margin-right: 0;
}

.finish-tab-content-item>ul>li:nth-child(-n+4) {
    margin-bottom: 20px;
}

.finish-xia {
    padding: 24px 0 0 20px;
    height: 140px;
    border: 1px solid #e8e8e8;
    border-top: none;
}

.finish-xia h3 {
    height: 20px;
    font-size: 20px;
    margin-bottom: 22px;
    position: relative;
    color: #666;
}

.h-d::before,
.h-d::after {
    content: '礼';
    position: absolute;
    top: 2px;
    right: 166px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    background-color: #ff952b;
}

.h-d::after {
    right: 134px;
    content: '券';
    background-color: #ff572a;
}

.finish-xia p span {
    font-size: 16px;
    color: #747474;
}

.finish-xia p span:first-child {
    margin-right: 24px;
}

.finish-tab-content-item>ul>li>a {
    display: inline-block;
    width: 348px;
    height: 378px;
}

.finish-tab-content-item li>a>img {
    width: 348px;
    height: 240px;
}

.rating>img {
    width: 76px;
    height: 14px;
    vertical-align: middle;
    margin-right: 8px;
}

.finish-b>a {
    margin: 60px auto 20px;
    display: block;
    width: 178px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #e8e8e8;
    font-size: 14px;
    color: #ff5a02;
}

.finish-2 {
    position: absolute;
    top: 267px;
}

.finish-tab-control li.active {
    color: #24c77e;
}

.finish-tab-content .finish-tab-content-item {
    display: none;
}

.finish-tab-content .finish-tab-content-item.active {
    display: block;
}

/* 装修日记 */
.diary-tab-content .diary-tab-content-item {
    display: none;
}

.diary-tab-content .diary-tab-content-item.active {
    display: block;
}

.diary {
    height: 600px;
    background-color: #cccccc;
}

.diary-l {
    float: left;
    width: 1082px;
    height: 600px;
    background: transparent url(../images/diary_1.jpg) no-repeat;
    background-size: 1398px 600px;
    position: relative;
}

.diary-y {
    float: right;
    width: 821px;
    height: 600px;
    background: transparent url(../images/diary_2.jpg) no-repeat;
    padding: 75px 0 0 85px;
    color: #fff;
    font-size: 20px;
}

.diary-y>h3 {
    font-size: 32px;
}

.diary-y>p {
    margin-top: 28px;
    line-height: 34px;
}

.diary-y>ul {
    width: 418px;
    margin-top: 40px;
}

.diary-y>ul>li {
    float: left;
    width: 82px;
    height: 82px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 2px solid #848485;
    border-radius: 50%;
    overflow: hidden;
}

.diary-y>ul>li:nth-child(4n) {
    margin-right: 0;
}

.diary-y>ul>li img {
    width: 82px;
    height: 82px;
}

.diary-y>ul>li:hover {
    border-color: #0cb46a;
}

.diary-l-x {
    position: absolute;
    top: 75px;
    left: 200px;
    padding: 35px 0 52px 60px;
    width: 720px;
    height: 450px;
    background-color: #fff;
}

/* 流程服务 */
.process img {
    margin: 80px 0;
}

.diary-l-x>img {
    width: 602px;
    height: 366px;
}

/* 装修效果 */
.rendering {
    height: 1000px;
    background-color: #f5f5f5;
}

.rendering-cont-cen {
    margin-top: 28px;
    text-align: center;
}

.rendering-cont-cen>h3 {
    height: 78px;
    font-size: 20px;
    color: #999999;
    font-weight: normal;
}

.rendering-cont-cen>a {
    position: relative;
    width: 96px;
    height: 18px;
    font-size: 18px;
    margin-right: 23px;
    color: #666;
}

.rendering-cont-cen>a:hover {
    color: #f67700;
}

.rendering-cont-cen>a::after {
    position: absolute;
    content: '/';
    top: 2px;
    right: -16px;
    font-size: 16px;
    color: #cec5c3;
}

.rendering-cont-cen>a:last-child::after {
    content: ' > ';
    font-size: 22px;
    right: -24px;
    top: 0;
    color: #333333;
}

.wrap {
    width: 1200px;
    margin: 40px auto;
}

.slide {
    height: 500px;
    position: relative;
}

.slide li {
    position: absolute;
    left: 200px;
    top: 0;
    transition: all .5s;
}

.slide li img {
    width: 100%;
}

.wrap .slide .arrow {
    display: block;
    opacity: 1;
    position: relative;
    z-index: 99;
    top: 50%;
}

.wrap .slide .arrow .prev,
.wrap .slide .arrow .next {
    width: 76px;
    height: 112px;
    position: absolute;
    top: 50%;
    margin-top: -56px;
    background: url(../images/prev.png) no-repeat;
    z-index: 99;
}

.wrap .slide .arrow .next {
    right: 0;
    background-image: url(../images/next.png);
}

.slide .slide1 {
    width: 400px;
    top: 20px;
    left: 50px;
    opacity: 0.2;
    z-index: 2;
}

.slide .slide2 {
    width: 600px;
    top: 70px;
    left: 0;
    opacity: 0.8;
    z-index: 3;
}

.slide .slide3 {
    width: 800px;
    top: 100px;
    left: 200px;
    opacity: 1;
    z-index: 4;
}

.slide .slide4 {
    width: 600px;
    top: 70px;
    left: 600px;
    opacity: 0.8;
    z-index: 3;
}

.slide .slide5 {
    width: 400px;
    top: 20px;
    left: 750px;
    opacity: .2;
    z-index: 2;
}

.rendering-btm {
    margin-top: 60px;
    height: 880px;
    background-color: #f5f5f5;
}

.rendering-btm-left {
    float: left;
    width: 472px;
    margin-right: 18px;
}

.rendering-btm-cen {
    float: left;
    width: 686px;
}

.rendering-btm-right {
    float: right;
    width: 708px;
}

.rendering-btm img {
    width: 100%;
    margin-bottom: 18px;
}

.rendering-btm-left img:first-child {
    height: 474px;
}

.rendering-btm-cen img:first-child {
    height: 328px;
}

.rendering-btm-right img:first-child {
    height: 454px;
}

.rendering-btm-left img:last-child {
    height: 310px;
}

.rendering-btm-cen img:last-child {
    height: 456px;
}

.rendering-btm-right img:last-child {
    height: 328px;
}

/* 视频区域 */
.video {
    height: 780px;
    padding-top: 118px;
    background: transparent url(../images/video_bj.jpg) no-repeat;
}

.video-l {
    float: left;
}

.video-y {
    float: right;
    padding: 46px 40px 0;
    width: 494px;
    height: 543px;
    background-color: #ffffff;
    position: relative;
}

/* 找建材 */
.building {
    height: 792px;
    background-color: #fff;
}

.building .rendering-btm {
    height: 466px;
    background-color: #fff;
}

.building .rendering-btm>div {
    float: left;
    width: 480px;
    height: 358px;
    text-align: center;
    position: relative;
    margin-right: 10px;
}

.building .rendering-btm>div>img {
    width: 480px;
    height: 358px;
    margin-bottom: 0;
}

.building .rendering-btm>div>h3 {
    position: absolute;
    top: 52px;
    left: 50%;
    margin-left: -10px;
    font-size: 24px;
    font-weight: normal;
}

.building .rendering-btm>div:nth-child(1)>h3 {
    margin-left: -48px;
}

.building .rendering-btm>div:nth-child(1)>span {
    margin-left: -112px;
}

.building .rendering-btm>div>span {
    position: absolute;
    top: 104px;
    left: 50%;
    margin-left: -60px;
    font-size: 18px;
}

.building .rendering-btm>div:nth-child(3) {
    margin-right: 0;
}

.building .rendering-btm>div:nth-child(3)>div:first-child {
    position: relative;
    height: 175px;
    margin-bottom: 8px;
    background-color: #ccc;
}

.building .rendering-btm>div:nth-child(3)>div:last-child {
    position: relative;
    height: 175px;
    background-color: #ccc;
}

.building .rendering-btm>div:nth-child(3)>div>img {
    width: 480px;
    height: 175px;
    margin-bottom: 0;
}

.building .rendering-btm>div:nth-child(3)>div>h3 {
    position: absolute;
    top: 53px;
    left: 31px;
    font-size: 24px;
    font-weight: normal;
}

.building .rendering-btm>ul {
    float: left;
    height: 108px;
}

.building .rendering-btm>ul img {
    margin-bottom: 0;
}

.building .rendering-btm>ul li {
    float: left;
    width: 186px;
    position: relative;
    margin: 11px 38px;
}

/* 了解土巴兔 */
#realize {
    background-color: #f5f5f5;
}

#realize .rendering-btm {
    margin-top: 0;
    background-color: #f5f5f5;
}

#realize .rendering-btm ul li {
    float: left;
    width: 476px;
    margin: 0;
    margin-right: 13px;
    overflow: hidden;
}

#realize .rendering-btm ul li:last-child {
    margin-right: 0;
}

#realize .rendering-btm-s>img {
    width: 476px;
    height: 300px;
}

/* 缩放效果 */
#realize .rendering-btm ul li:hover {
    transition: all 0.5s;
    box-shadow: 0 15px 30px rgba(105, 100, 109, .3);
    transform: translate3d(0, -4px, 0);
}

#realize .rendering-btm ul li:hover .rendering-btm-s>p {
    transition: all 0.5s;
    margin-top: 30px;
}

#realize .rendering-btm ul li:hover .rendering-btm-s>img {
    transition: all 0.5s;
    cursor: pointer;
    transform: scale(1.2);
}

#realize .rendering-btm-s>p {
    width: 476px;
    padding-left: 22px;
    font-size: 18px;
    color: #666;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    line-height: 30px;
}

#realize .rendering-btm-x {
    width: 476px;
    height: 70px;
    line-height: 70px;
    padding-left: 22px;
    border: 1px solid #e0e0e0;
}

#realize .rendering-btm-x>img {
    width: 76px;
    height: 30px;
    vertical-align: middle;
}

#realize .rendering-btm-x>i {
    display: inline-block;
    vertical-align: middle;
    margin: 0 14px 0 226px;
    width: 34px;
    height: 34px;
    background: url(../images/sprite_3.png) -1078px -622px;
}

#realize .rendering-btm-x>s {
    font-size: 16px;
    color: #999;
}

/* 友链合作 */
.cooperation>img {
    width: 1902px;
    height: 220px;
}

.cooperation-l>img {
    position: absolute;
    width: 150px;
    height: 214px;
    top: -217px;
}

.cooperation-l>h3 {
    position: absolute;
    top: -174px;
    left: 178px;
    font-size: 24px;
    color: #fff;
}

.cooperation-l>span {
    position: absolute;
    top: -134px;
    left: 178px;
    font-size: 16px;
    color: #fff;
}

.cooperation>.container>img {
    position: absolute;
    top: -182px;
    right: 0;
}

.cooperation-x {
    position: relative;
    top: -3px;
    height: 155px;
    background-color: #1f1f1f;
}

.cooperation-x img {
    position: absolute;
    top: 40px;
}

/* 底部区域 */

footer {
    margin-top: -3px;
    height: 202px;
    background-color: #1f1f1f;
    font-size: 14px;
    padding: 22px 230px 0 234px;
    border-top: 1px solid #313131;
}

.di-l {
    float: left;
    color: #676b6c;
    vertical-align: top;
}

.di-l ul li {
    float: left;
}

.di-l ul li a {
    display: inline-block;
    margin-right: 16px;
    color: #fff;
}

.di-l h4 {
    height: 76px;
    line-height: 76px;
    color: #676b6c;
}

.di-l a {
    color: #676b6c;
}

.di-l a img {
    vertical-align: bottom;
}

.di-l a:nth-last-child(2) img {
    margin: 0 10px;
}

.di-l span:nth-last-child(4) a {
    margin-left: 25px;
}

.di-l a:last-child img {
    position: relative;
    top: 4px;
}

footer .di-y:nth-last-child(2) {
    float: left;
}

footer .di-y:nth-last-child(1) {
    float: right;
}

footer .di-y {
    width: 102px;
    height: 102px;
    text-align: center;
    color: #fff;
}

footer .di-y h3 {
    font-weight: normal;
}

.di-y img {
    width: 102px;
    height: 102px;
    margin-bottom: 10px;
}

.di-y:nth-last-child(2) {
    margin-left: 230px;
}