/* 登录区域 */
.register {
    height: 35px;
    line-height: 35px;
    background-color: #f5f5f5;
    border-top: 1px solid #dcdcdc;
}

.register-left {
    float: left;
    position: relative;
}

.register-location {
    position: absolute;
    width: 93px;
    padding-left: 6px;
}

.register-location.active {
    border: 1px solid #d8d8d8;
    border-top: none;
    border-bottom: none;
    background-color: #f5f5f5;
    z-index: 99;
}

.register-location>i {
    display: inline-block;
    width: 13px;
    height: 16px;
    background: url(../images/sprite_1.png) -192px -180px;
    vertical-align: middle;
}

.register-location>a {
    color: #0cb46a;
}

.register-location>a>span {
    color: #333333;
}

.register-area {
    position: absolute;
    top: 33px;
    width: 406px;
    border: 1px solid #dcdcdc;
    background-color: #fff;
    display: none;
    z-index: 99;
}

.register-area>h3 {
    padding-left: 26px;
    height: 38px;
    line-height: 38px;
    background-color: #f5f5f5;
    font-size: 14px;
    font-weight: normal;
    color: #00af63;
    border-bottom: 1px solid #d8d8d8;
}

.register-area>h3::after {
    content: '';
    position: absolute;
    left: 22px;
    top: 36px;
    width: 62px;
    height: 2px;
    background-color: #00af63;
}

.register-area>ul {
    padding-top: 18px;
    padding-left: 36px;
    padding-bottom: 18px;
    font-size: 14px;
}

.register-area>ul>li {
    height: 28px;
}

.register-area>ul>li>a {
    display: inline-block;
    color: #666;
    margin-right: 30px;
}

.register-area>ul>li>a:last-child {
    margin-right: 0;
}

.register-area>ul>a {
    color: #999999;
}

.register-area>ul a:hover {
    color: #00af63;
}

.register-right {
    float: right;
}

.register-right>a,
.register-right>div {
    float: left;
    font-size: 12px;
}

.register-right>a {
    display: block;
    padding: 0 14px;
    color: #999;
}

.register-right>div {
    position: relative;
    padding: 0 14px;
    height: 35px;
    color: #999;
    z-index: 177;
}

.register-right>div::before {
    content: '';
    position: absolute;
    top: 11px;
    left: -1px;
    width: 1px;
    height: 14px;
    background-color: #dcdcdc;
    z-index: 33;
}

.register-right>div i {
    margin-left: 5px;
    display: inline-block;
    width: 10px;
    height: 7px;
    background: url(../images/sprite_1.png) -189px -232px;
}

.register-right>div:nth-last-child(2)>a {
    color: #999;
}

.register-right>div:last-child span>i:first-child {
    vertical-align: top;
    margin-top: 12px;
    margin-right: 5px;
    width: 13px;
    height: 13px;
    background: url(../images/sprite_1.png) -189px -246px;
}

.register-right>div:last-child {
    color: #ff5a00;
}

.register-right>div:last-child span>span {
    text-decoration: underline;
}

.register-one>ul,
.register-two>ul,
.register-three>ul {
    position: absolute;
    left: 0px;
    width: 104px;
    font-size: 12px;
    border: 1px solid #eeeeee;
    background-color: #fff;
    border-top: none;
    display: none;
}

.register-one>ul a,
.register-two>ul a,
.register-three>ul a {
    display: block;
    height: 32px;
    text-align: center;
    color: #999999;
}

.register-one>ul a:hover,
.register-two>ul a:hover,
.register-three>ul a:hover {
    color: #ff5a00;
}

.register-two>ul,
.register-three>ul {
    width: 92px;
}

.register-item.active {
    border-left: 1px solid #eeeeee;
    background-color: #fff;
    z-index: 99;
}

.register-four-hide {
    position: absolute;
    left: -100px;
    top: 33px;
    width: 280px;
    background-color: #fff;
    color: #555555;
    box-shadow: 1px 6px 10px -4px #99abbb;
    display: none;
}

.register-four-hide h2 {
    margin: 30px auto 0;
    height: 40px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.register-four-hide input {
    margin: 0 auto;
    display: block;
    width: 230px;
    height: 38px;
    line-height: 38px;
    text-align: center;
}

.register-four-hide input:first-child {
    margin-bottom: 18px;
    font-size: 14px;
    color: #757575;
    border: 1px solid #dddddd;
}

.register-four-hide input:last-child {
    font-size: 12px;
    color: #fff;
    background-color: #05b56a;
    border: none;
    border-radius: 5px;
}

.register-four-hide p {
    margin: 24px;
    font-size: 12px;
    line-height: 20px;
    color: #666666;
}

.register-four:hover i:last-child {
    transition: all 0.2s;
    transform: rotateZ(-180deg);
}

/* 搜索区域 */
.search {
    position: relative;
    height: 70px;
    background-color: #fff;
}

.search-left {
    float: left;
    margin-top: 16px;
}

.search-left a {
    float: left;
}

.search-left a:first-child {
    width: 132px;
    height: 47px;
    background: url(../images/sprite_1.png) 0 -208px;
}

.search-left a:last-child>img {
    width: 145px;
    height: 51px;
    margin-left: 12px;
}

.search-center {
    float: left;
    margin-left: 84px;
}

.search-dh>li {
    float: left;
    margin-right: 29px;
    padding: 22px 15px 0 16px;
}

.search-dh>li:first-child {
    margin-right: 10px;
}

.search-dh>li:last-child {
    margin-right: 0;
}

.search-dh>li>a {
    position: relative;
    display: block;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    color: #333;
}

.search-item>a>i {
    position: absolute;
    top: 16px;
    right: -15px;
    width: 8px;
    height: 5px;
    background: url(../images/sprite_1.png) -152px -180px;
}

.search-item:last-child>a>i {
    top: 10px;
    left: 76px;
    width: 11px;
    height: 16px;
    background: url(../images/sprite_1.png) -176px -180px;
}

.search-dh>li>a.active {
    color: #0cb46a;
    border-bottom: 2px solid #0cb46a;
}

.search-dh>li>a.active>i {
    display: none;
}

.search-cont {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 166;
    display: none;
}

.search-cont>ul {
    width: 100%;
    margin-top: 10px;
    padding: 34px 360px;
    border-top: 1px solid #e3e3e3;
}

.search-cont-one>li,
.search-cont-two>li,
.search-cont-three>li {
    float: left;
    width: 283px;
    padding: 0 20px;
    font-size: 14px;
    border-right: 1px dashed #d8d8d8;
}

.search-cont-one>li>a,
.search-cont-two>li>a,
.search-cont-three>li>a {
    position: relative;
    color: #333333;
}

.search-cont-one>li>a>i,
.search-cont-two>li>a>i,
.search-cont-three>li>a>i {
    position: absolute;
    top: 2px;
    right: -16px;
    width: 8px;
    height: 13px;
    background: url(../images/sprite_1.png) -193px -200px;
}

.search-cont-xia {
    margin-top: 20px;
}

.search-cont-xia>a {
    display: inline-block;
    line-height: 28px;
    color: #666;
    margin-right: 15px;
}

.search-cont-one>li:last-child>div {
    float: left;
    width: 60px;
    text-align: center;
}

.search-cont-one>li:last-child>div i {
    display: block;
    margin-left: 8px;
    width: 32px;
    height: 32px;
    background: url(../images/sprite_1.png) -79px -35px;
}

.search-cont-one>li:last-child>div:nth-child(2) i {
    width: 37px;
    height: 31px;
    background: url(../images/sprite_1.png) -112px -144px;
}

.search-cont-one>li:last-child>div:last-child i {
    margin-left: 14px;
    width: 28px;
    height: 33px;
    background: url(../images/sprite_1.png) -48px 0;
}

.search-cont-one>li:last-child>div span {
    display: block;
    color: #333333;
    margin-top: 20px;
}

.search-cont-three>li:last-child>div {
    float: left;
    width: 80px;
    text-align: center;
}

.search-cont-three>li:last-child>div i {
    display: block;
    margin-left: 22px;
    width: 29px;
    height: 32px;
    background: url(../images/sprite_1.png) -196px -108px;
}

.search-cont-three>li:last-child>div:nth-child(2) i {
    width: 31px;
    height: 32px;
    background: url(../images/sprite_1.png) -116px 0;
}

.search-cont-three>li:last-child>div:last-child i {
    margin-left: 26px;
    width: 32px;
    height: 30px;
    background: url(../images/sprite_1.png) -36px -144px;
}

.search-cont-three>li:last-child>div span {
    display: block;
    color: #333333;
    margin-top: 20px;
}

.search-cont-four div {
    float: left;
    margin: 0 10px;
}

.search-cont-four>li>div {
    float: left;
    width: 80px;
    text-align: center;
}

.search-cont-four>li>div i {
    display: block;
    margin-left: 22px;
    width: 33px;
    height: 30px;
    background: url(../images/sprite_1.png) -177px -324px;
}

.search-cont-four>li>div:nth-child(2) i {
    width: 28px;
    height: 31px;
    background: url(../images/sprite_1.png) -40px -108px;
}

.search-cont-four>li>div:nth-child(3) i {
    width: 30px;
    height: 31px;
    background: url(../images/sprite_1.png) -152px 0;
}

.search-cont-four>li>div:nth-child(4) i {
    width: 31px;
    height: 32px;
    background: url(../images/sprite_1.png) -72px -108px;
}

.search-cont-four>li>div:nth-child(5) i {
    width: 40px;
    height: 33px;
    background: url(../images/sprite_1.png) -148px -70px;
}

.search-cont-four>li>div:nth-child(6) i {
    width: 34px;
    height: 35px;
    background: url(../images/sprite_1.png) -148px -220px;
}

.search-cont-four>li>div:nth-child(7) i {
    width: 34px;
    height: 32px;
    background: url(../images/sprite_1.png) -108px -108px;
}

.search-cont-four>li>div:nth-child(8) i {
    width: 37px;
    height: 31px;
    background: url(../images/sprite_2.png) -112px -46px;
}

.search-cont-four>li>div:last-child i {
    margin-left: 26px;
    width: 32px;
    height: 31px;
    background: url(../images/sprite_1.png) -188px -144px;
}

.search-cont-four>li>div span {
    display: block;
    color: #333333;
    margin-top: 20px;
}

.search-cont-ewm>img {
    float: right;
    margin-right: 558px;
}

.search-item>a>.search-item-xz.sjz {
    transition: all 0.2s;
    transform: rotateZ(-180deg);
}

.search-right {
    float: right;
}

/* 主体 */
.container-btm {
    padding-top: 20px;
    width: 1222px;
    margin: 0 auto;
}

main {
    float: left;
    width: 960px;
}

/* 选项卡 */
.option {
    border: 1px solid #eaeaea;
}

.option li {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #666666;
}

.option li:nth-child(1) {
    border-bottom: 1px dashed #eaeaea;
}

.option-l {
    float: left;
    width: 80px;
    background-color: #f8f8f8;
    text-align: center;
    color: #999999;
    border-right: 1px solid #eaeaea;
    opacity: 0.7;
}

.option-y {
    float: left;
    padding-left: 30px;
}

.option-y>span {
    display: inline-block;
    width: auto;
    margin-right: 30px;
}

/* 默认排序 */
.rank {
    margin: 20px 0 40px;
    height: 40px;
    line-height: 40px;
    background-color: #f8f8f8;
    border: 1px solid #eaeaea;
    font-size: 14px;
    color: #666666;
}

.rank span {
    display: inline-block;
}

.rank span:nth-child(1) {
    margin-right: 450px;
    width: 100px;
    text-align: center;
    color: #ff7d35;
    border-right: 1px solid #eaeaea;
    opacity: 0.7;
}

.rank span:nth-last-child(-n+4) {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    margin-right: 38px;
}

.rank span:nth-last-child(-n+4)::before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    left: -26px;
    border: 1px solid #cccccc;
    opacity: 0.7;
    border-radius: 4px;
}

/* 公司 */
.company-cont,
.company-cont-te {
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 1px dashed #e3e3e3;
}

.company-l {
    margin-bottom: 20px;
    padding: 10px;
    float: left;
    width: 118px;
    height: 118px;
    border: 1px solid #e5e5e5;
}

.company-l>img {
    width: 100%;
    height: 100%;
}

.company-c {
    float: left;
    width: 686px;
    margin-left: 13px;
}

.company-title {
    width: 100%;
}

.company-title h3 {
    float: left;
    font-size: 20px;
    color: #333333;
}

.company-title img {
    margin: 0 10px;
    float: left;
    width: 26px;
    height: 26px;
}

.company-title span {
    float: left;
    width: 92px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #fff5ef;
    color: #ff7d35;
}

.company-cen p {
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    color: #666666;
}

.company-y {
    float: right;
}

.company-y>img {
    vertical-align: middle;
    width: 92px;
    height: 16px;
}

.company-y>s {
    vertical-align: middle;
    margin-left: 10px;
    display: inline-block;
    font-size: 16px;
    color: #ff7d70;
}

.company-cont-te .company-c .company-title span,
.company-cont-te .company-btm>span {
    display: inline-block;
    margin-left: 20px;
    padding: 0 11px;
    width: auto;
    height: 26px;
    line-height: 26px;
    background-color: #fff5ef;
}

.company-cont-te .company-btm>span {
    margin-left: 0;
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid #d1e5fd;
    color: #66aaf9;
}

.company-cont-te .company-btm>span:nth-child(2) {
    border: 1px solid #ffd8c2;
    color: #ff7d35;
}

.company-cont-te .company-btm>span:nth-child(3) {
    border: 1px solid #bdeed8;
    color: #24c77e;
}

/* 分页导航 */
.page {
    width: 358px;
    margin: 40px auto 140px;
    border: 1px solid #eeeeee;
}

.page li {
    float: left;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border-right: 1px solid #eeeeee;
}

.page li a {
    display: block;
    color: #999999;
}

.page li:last-child {
    width: 90px;
    border-right: none;
}

.page li:first-child {
    background-color: #01af63;
}

.page li:first-child a {
    color: #fff;
}


/* 侧边栏 */
aside {
    float: right;
    width: 238px;
}

aside>img {
    width: 100%;
    height: 186px;
}

.aside-btm {
    margin-top: 20px;
    width: 100%;
    height: 304px;
    border: 1px solid #eaeaea;
}

.aside-btm>img {
    width: 100%;
    height: 100%;
}

/* 底部区域 */
footer {
    height: 202px;
    background-color: #1f1f1f;
    font-size: 14px;
    padding: 22px 230px 0 234px;
    border-top: 1px solid #313131;
}

.di-l {
    float: left;
    color: #676b6c;
    vertical-align: top;
}

.di-l ul li {
    float: left;
}

.di-l ul li a {
    display: inline-block;
    margin-right: 16px;
    color: #fff;
}

.di-l h4 {
    height: 76px;
    line-height: 76px;
    color: #676b6c;
}

.di-l a {
    color: #676b6c;
}

.di-l a img {
    vertical-align: bottom;
}

.di-l a:nth-last-child(2) img {
    margin: 0 10px;
}

.di-l span:nth-last-child(4) a {
    margin-left: 25px;
}

.di-l a:last-child img {
    position: relative;
    top: 4px;
}

footer .di-y:nth-last-child(2) {
    float: left;
}

footer .di-y:nth-last-child(1) {
    float: right;
}

footer .di-y {
    width: 102px;
    height: 102px;
    text-align: center;
    color: #fff;
}

footer .di-y h3 {
    font-weight: normal;
}

.di-y img {
    width: 102px;
    height: 102px;
    margin-bottom: 10px;
}

.di-y:nth-last-child(2) {
    margin-left: 230px;
}